{
  "presets": [
    "react",
    "env"
  ],
  "env": {
    "development": {
      "presets": [
        "react-hmre"
      ]
    }
  },
  "plugins": [
    "transform-runtime",
    "transform-decorators-legacy",
    "transform-class-properties",
    "transform-object-rest-spread"
  ]
}