/**
 * Created by Kirk liu on 2018/8/6.
 */

.UploadPic{
  input{
    display: none;
  }
  button{
    width: 180PX;
    height: 46PX;
    border: none;
    background-color: #4fb4ff;
    cursor: pointer;
    float: left;
    margin-top: 10PX;
    color: #fff;
    border-radius: 4PX;
  }
}
